body{
	background-color: #b7b9bc;
}
header.nav.ul.left{
	width:50%;
	height: 50%;
}
image{
	width:50%;
	height: 50%;
}

header{
	width: 940px;
	background-color: pink;
	position: center;
}
 main {
	margin:auto;
	display: block;
	width:940px;
	
}


header{
	height: 60px;
	background-color: white;
	text-decoration: uppercase;
}
header h1{
	padding: 1.5%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


article img{
	width: 940px;
	height: 380px;
	align-content: center;
	margin-top: 80px
}

article section{
	border: 1px solid black;
	width:300px;
	float: left;
	margin: 5px;
	background-color: white;
}
article section h1 {
	padding :10px;
}

article section p{
	padding :10px;
}

div section article{
	width:640px;
	background-color: white;
	margin-top: 21%;

}
div section article p{
	padding:5px;
}

div section article h1{
	padding:5px;
}
div aside {
	width:300px;
	float: right;
	background-color: white;
}

div{
}


aside ul {
	list-style-type: none;
	background-color: #e8dfdf;
	padding: -23px 5px;
}

aside ul li{
	padding: 13px 5px;
}


div section img{
	width :225px;
	height: 150px;
	margin:5px; ;
	padding:0;
	float: left;


}

footer {
	bottom :0;
	height: 60px;
	background-color: black;
}

footer
{
	margin-top: 1%;
	background-color: white;
	float:left;
	width: 100%;
	
}
footer p
{
	padding: .5% 1%;
	
}